{% extends "border_template.html" %}
{% block main %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Priority Chart -->
                        <div class="col-l-7 col-xl-7 col-md-12">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Priority Level Bar Chart</h6>
                                    <div class="dropdown no-arrow">
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" style="margin:auto; display: flex; align-items: center;">
                                        <iframe src="dashboard/priority_chart" height="515" width="1000"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->

                        <div class="col-l-5 col-xl-5 col-md-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Project Current Status Pie Chart</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area justify-content-center" style="margin:auto; display: flex; align-items: center;">
                                        <iframe src="dashboard/pie_chart" height="515" width="500"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-xl-7 col-l-7 col-12" style="margin: auto;">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Project Time Bar Chart</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area" style="margin:auto; display: flex; align-items: center;">
                                        <iframe src="dashboard/time_chart" height="515" width="1000"></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
{% endblock %}