{% extends "border_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
            <div>
                <div class="container-fluid view-project">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4 title">
                        <h1 class="h3 mb-0 text-gray-800">Full Project View</h1>
                        <a href="{{ url_for('all_projects') }}" class="d-none d-sm-inline-block btn btn-med btn-primary shadow-sm"><i
                                class="fas fa-sm text-white-50 back"></i>Go Back</a>
                    </div>

                    <!-- Content Row -->
                    <div class="proj-row">
                    <div class="column" style="float: left; width:50%;">

                        <!-- Area Chart -->
                        <div class="col-12detail">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Project Detail</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">

                                        <!-- First Row -->
                                        <b>
                                            <div class="row">
                                                <div class="col-6">Project Title</div>
                                                <div class="col-6">Submitted By</div>
                                            </div>
                                        </b>
                                        <div class="row">
                                            <h7 class="col-6">
                                                {{ project.bug_name }}
                                            </h7>
                                            <h7 class="col-6">
                                                {{ project.submitter.full_name.title() }}
                                            </h7>
                                        </div>
                                        <hr>

                                        <!-- Second Row -->
                                        <b>
                                            <div class="row">
                                                <div class="col-12"> Full Description</div>
                                            </div>
                                        </b>
                                        <div class="row">
                                            <h7 class="col-12">{{ project.full_desc|safe }}</h7>
                                        </div>
                                        <hr>

                                        <!-- Third Row -->
                                        <b>
                                            <div class="row">
                                                <div class="col-6"> Time to Complete (10 being long)</div>
                                                <div class="col-6"> Priority</div>
                                            </div>
                                        </b>
                                        <div class="row">
                                            <h7 class="col-6">{{ project.time_to_fix }}</h7>
                                            <h7 class="col-6">{{ project.priority }}</h7>
                                        </div>
                                        <hr>

                                        <!-- Fourth Row -->
                                        <b>
                                            <div class="row">
                                                <div class="col-6">Assigned Users</div>
                                                <div class="col-6">Current Status</div>
                                            </div>
                                        </b>
                                        <div class="row">
                                            <h7 class="col-6">Some Users</h7>
                                            <h7 class="col-6">{{ project.status }}</h7>
                                        </div>
                                        <hr>

                                        <!-- Fifth Row -->
                                        <b>
                                            <div class="row">
                                                <div class="col-6">Created</div>
                                                <div class="col-6">Last Updated</div>
                                            </div>
                                        </b>
                                        <div class="row">
                                            <h7 class="col-6">Yesterday</h7>
                                            <h7 class="col-6">Today</h7>
                                        </div>
                                        <hr>

                                        <!-- Buttons -->
                                        <div class="row justify-content-between" style="padding: 0 0.5rem 0 0.5rem">
                                            <a href="{{ url_for('all_projects') }}" data-toggle="modal" data-target="#statusModal" class="col-3 d-none d-sm-inline-block btn btn-med btn-primary shadow-sm"><i
                                            class="fas fa-sm text-white-50"></i>Update status</a>
                                            {% if current_user.role == "admin" %}
                                                <a href="{{ url_for('edit_projects', project_id=project.id) }}" class="col-3 d-none d-sm-inline-block btn btn-med btn-primary shadow-sm"><i
                                                class="fas fa-sm text-white-50"></i>Edit Project</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content Column -->
                        <div class="col-12 users">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Assigned Users</h6>
                                </div>
                                <div class="card-body">
                                    <table>

                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Content Row -->
                    <div class="column" style="float: left; width:50%;">

                        <!-- Comments -->
                        <div class="col-12 comments">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                        <table class="table table-striped" style="width: 100%;">
                                            <tr>
                                                <th>Name</th>
                                                <th>Role</th>
                                                <th>Comment</th>
                                            </tr>
                                            {% for comment in project.comments %}
                                                <tr>
                                                    <td>{{ comment.commenter.full_name.title() }}</td>
                                                    <td>{{ comment.commenter.role.title() }}</td>
                                                    <td>{{ comment.text.capitalize() }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                        {{ wtf.quick_form(form, button_map={"submit": "primary"}) }}
                                </div>
                            </div>
                        </div>


                        <div class="col-12 new">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Assign Additional Users</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="img/undraw_posting_photo.svg" alt="...">
                                    </div>
                                    <p>Add some quality, svg illustrations to your project courtesy of <a
                                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                                        constantly updated collection of beautiful svg images that you can use
                                        completely free and without attribution!</p>
                                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                                        unDraw &rarr;</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
            </div>

<!-- Logout Modal-->
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Status</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form method="post" action="{{ url_for('view_projects', project_id=project.id) }}">
                    <div style="padding: 1rem;">
                        <h5 class="modal-title">Select Status</h5>
                        {{ wtf.form_field(status.status) }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary rounded submit px-3">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}