{% extends "border_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{ user.full_name }}'s Profile</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7" style="margin: auto;">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <form method="post">
                                            {% with messages = get_flashed_messages() %}
							                    {% if messages %}
								                    {% for message in messages %}
								                        <p style="color: red;">{{ message }}</p>
								                    {% endfor %}
							                    {% endif %}
						                    {% endwith %}
                                            {{ wtf.form_field(form.name) }}
                                            {{ wtf.form_field(form.email) }}
                                            {{ wtf.form_field(form.password) }}
                                            {{ wtf.form_field(form.confirm_password) }}
                                            <button id="edit" type="button" class="btn btn-primary rounded submit px-3" data-toggle="modal" data-target="#editModal">Confirm</button>

                                            <!-- Edit Modal-->
                                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Confirm Details</h5>
                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">Are you sure all details entered are correct? If yes, select Confirm</div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-primary rounded submit px-3" data-toggle="modal" data-target="#editModal">Confirm</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>

{% endblock %}