{% extends "border_template.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Manage Users</h1>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <div class="col-xl-5 col-l-5 col-12">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Assign Roles</h6>
                                </div>
                                <div class="card-body">
                                    <form method="post" action="{{ url_for('all_users') }}" class="col-6" style="margin-left: auto; margin-right: auto;">
                                        <b>{{ wtf.form_field(form.users) }}</b>

                                        <b>{{ wtf.form_field(form.role) }}</b>
                                        {% if current_user.role == "Admin" %}
                                            <button type="submit" class="btn btn-primary rounded submit px-3">Assign</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-primary rounded submit px-3" disabled>Assign</button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Area Chart -->
                        <div class="col-xl-7 col-l-7 col-12">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">All Users</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" style="display: block; overflow-x: auto;">
                                        <table id="user-table" class="table table-striped" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Full Name</th>
                                                    <th>Role</th>
                                                    <th>Email Address</th>
                                                    <th>Edit Profile</th>
                                                </tr>
                                            </thead>
                                            {% for user in users %}
                                                {% if user.id != 1 %}
                                                <tr>
                                                        <td>{{ user.full_name.title() }}</td>
                                                        <td>{{ user.role.title() }}</td>
                                                        <td>{{ user.email }}</td>
                                                        {% if current_user.role == "Admin" or current_user.id == user.id %}
                                                            <td>
                                                                <form method="get" action="{{ url_for('edit_profile', user_id=user.id) }}">
                                                                    <button type="submit" class="btn btn-primary rounded submit px-3">Edit Details</button>
                                                                </form>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <button type="button" class="btn btn-primary rounded submit px-3" disabled>Edit Details</button>
                                                            </td>
                                                        {% endif %}
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}

{% block scripts %}
 <script>
     $(document).ready(function () {
        $('#user-table').DataTable({
            columns: [
                null,
                null,
                {orderable: false, searchable: false},
                {orderable: false, searchable: false}],
        });
     });
 </script>
{% endblock %}