{% extends "border_template.html" %}
{% block main %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">All Users</h1>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <table id="user-table" class="table table-striped" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Full Name</th>
                                                    <th>Role</th>
                                                    <th>Email Address</th>
                                                    <th>View Profile</th>
                                                </tr>
                                            </thead>
                                            {% for user in users %}
                                                {% if user.id != 1 %}
                                                <tr>
                                                        <td>{{ user.full_name.title() }}</td>
                                                        <td>{{ user.role.title() }}</td>
                                                        <td>{{ user.email }}</td>
                                                        <td>beep boop</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}

{% block scripts %}
 <script>
     $(document).ready(function () {
        $('#user-table').DataTable({
            columns: [
                null,
                null,
                {orderable: false, searchable: false},
                {orderable: false, searchable: false}],
        });
     });
 </script>
{% endblock %}