{% extends "border_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{ user.full_name }}'s Profile</h1>
                        <a href="{{ url_for('all_projects') }}" class="d-none d-sm-inline-block btn btn-med btn-primary shadow-sm"><i
                                class="fas fa-sm text-white-50 back"></i>Edit Profile</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7" style="margin: auto;">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
{% endblock %}